#2022.11.09
CONFIG_TARGET_ramips=y
CONFIG_TARGET_ramips_mt7621=y
CONFIG_TARGET_ramips_mt7621_DEVICE_d-team_newifi-d2=y
CONFIG_HTOP_LMSENSORS=y
CONFIG_PACKAGE_blockd=y
# CONFIG_PACKAGE_etherwake is not set
CONFIG_PACKAGE_htop=y
CONFIG_PACKAGE_kmod-fs-autofs4=y
CONFIG_PACKAGE_libncurses=y
# CONFIG_PACKAGE_luci-app-ddns is not set
# CONFIG_PACKAGE_luci-app-rclone_INCLUDE_rclone-ng is not set
# CONFIG_PACKAGE_luci-app-rclone_INCLUDE_rclone-webui is not set
# CONFIG_PACKAGE_luci-app-vsftpd is not set
# CONFIG_PACKAGE_luci-app-wol is not set
CONFIG_PACKAGE_luci-theme-infinityfreedom=y
CONFIG_PACKAGE_terminfo=y
# CONFIG_PACKAGE_vsftpd-alt is not set
# CONFIG_PACKAGE_wol is not set
